main {
  flex: 1 calc(100vh - 24px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

img {
  width: 100%;
  height: auto;
  max-width: min(90vh, (90vw + 200px));
}

.percentages {
  padding: 1.6em;
}

.buttons {
  padding: 1.6em;
}

.buttons > * {
  margin: 10px 0;
}