main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

  td {
    text-align: center;
  }

  thead {
    text-align: center;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 1.6em;
  }
  
  menu .nav-item {
    padding: 0 0.4em;
    padding-bottom: 0.8em;
  }

  .parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 100%;
  }

  .parameters > * {
    margin: 10px 0;
  }