main {
    flex: 1 calc(100vh - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

  td {
    text-align: center;
  }

  thead {
    text-align: center;
  }

  .parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 100%;
  }

  .parameters > * {
    margin: 10px 0;
  }