#username-div {
  position: fixed;
  top: 50px; 
  right: 50px; 
  padding: 10px;
  /*z-index: 1000;*/
}

main {
  flex: 1 calc(100vh - 24px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/*img {
  width: 100%;
  height: auto;
  max-width: min(90vh, (90vw + 200px));
}*/

canvas {
  /*width: 100%;*/
  margin-top: 40px;
  max-width: min(80vh, (80vw + 200px));
  max-height: min(80vh, (80vw + 200px));
  outline: black 3px solid;
}

.percentages {
  padding: 1.6em;
}

.buttons {
  padding: 1.6em;
}

.buttons > * {
  margin: 10px 0;
}